html, 
body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

h2{
    font-size: 22px;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, 
#jugador-cartas {
    height: 240px;
}